<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>后台</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg sidebar-content">
    <div class="wrapper-content animated fadeInRight">
        <div class="ibox-title">
            <button class="btn btn-default btn-xs" type="button" onclick="window.location.reload() "><i class="glyphicon glyphicon-repeat "></i></button> &nbsp;&nbsp;
            <b>充电订单管理</b>
        </div>
        <div class="ibox-content">
            <p>
                <button type="button " class="btn btn-w-m btn-link btn-sm ">订单时间:</button>
                <button type="button " class="btn btn-w-m btn-sm btn-primary " onclick="location.href='?page=1&order_type=&key='">不限</button>
                <button type="button" class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_type=0&key='">刷卡订单</button>
                <button type="button" class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_type=1&key='">APP订单</button>
                <button type="button" class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_type=9&key='">微信订单</button>
            </p>
            <p>
                <button type="button " class="btn btn-w-m btn-link btn-sm ">完成状态:</button>
                <button type="button " class="btn btn-w-m btn-sm btn-primary " onclick="location.href='?page=1&order_state=&key=' ">不限</button>
                <button type="button " class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_state=10&key=' ">已预约</button>
                <button type="button " class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_state=12&key=' ">取消</button>
                <button type="button " class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_state=30&key=' ">充电中</button>
                <button type="button " class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_state=20&key=' ">超时</button>
                <button type="button " class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_state=31&key=' ">异常</button>
                <button type="button " class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_state=40&key=' ">待支付</button>
                <button type="button " class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_state=41&key=' ">已支付</button>
                <button type="button " class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&order_state=42&key=' ">已评价</button>
            </p>
            <p>
                <button type="button " class="btn btn-w-m btn-link btn-sm ">订单时间:</button>
                <button type="button " class="btn btn-w-m btn-sm btn-primary " onclick="location.href='?page=1&create_time=&key='">不限</button>
                <button type="button" class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&create_time=3&key='">三天内</button>
                <button type="button" class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&create_time=7&key='">一周内</button>
                <button type="button" class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&create_time=30&key='">一月内</button>
                <button type="button" class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&create_time=180&key='">半年内</button>
                <button type="button" class="btn btn-w-m btn-sm btn-white " onclick="location.href='?page=1&create_time=360&key='">一年内</button>
            </p>
        </div>
        <form id="form1" name="form1" class="ibox-content table-responsive" method="post" action="?act=company_perform">
            <input type="hidden" name="hiddentoken" value="c313f74c" />
            <table class="table table-striped" id="table1" style="font-size: 10px; border-bottom: 1px solid #eee;">
                <thead>
                    <tr>
                        <td v-for="i in name" v-html="i">
                            {{i}}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="key in message">
                        <td v-for="i in key" v-html="i">
                            {{i}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-if="message"></div>
             <div v-else="message">没有任何信息！</div>
        </form>
        <div class="ibox-content">
            <table style="border:1px solid #fff">
                <tr class="row">
                    <td class="col-sm-4 m-b-xs">
                        <a data-toggle="modal" href="admin_order_1.html#modal-del" class="btn btn-outline btn-default" title="删除">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                    <td class="col-sm-12 m-b-xs">
                        <form id="formseh" name="formseh" method="get " action="?">
                            <div class="input-group ibox-tools " style="margin-top: -7px; ">
                                <div style="float: right; ">
                                    <input name="act" type="hidden" value="members_list">
                                    <button type="submit " class="btn btn-sm btn-primary"><i class="fa fa-search"></i>&nbsp;搜索</button>
                                </div>
                                <div style="float: right; ">
                                    <input name="key " type="text " value=" " class="form-control input-sm " />
                                </div>
                                <div style="float: right; ">
                                    <select class="form-control m-b input-sm " name="key_type " style="border-right: none; ">
                                        <option value="1">订单号</option>
                                        <option value="2">充电卡</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
            <br />
            <div class="dataTables_paginate paging_simple_numbers ibox-content">
                <ul class="pagination btn-sm ibox-tools">
                    <li>
                        <a class=" ">首页</a>
                    </li>
                    <li>
                        <a class=" ">上一页</a>
                    </li>
                    <li>
                        <a class="select ">1</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=2">2</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=3">3</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=4">4</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=5">5</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=6">6</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=7">7</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=8">8</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=9">9</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=10">10</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=2">下一页</a>
                    </li>
                    <li>
                        <a href="/admin/admin_order.php?page=12049">尾页</a>
                    </li>
                    <li class="page_all ">
                        <a>1/12049页</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- -->
    <div id="modal-del" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="6">
                        <tr>
                            <td width="20" height="25">&nbsp;</td>
                            <td height="30" colspan="2"><strong style="color:#0066CC; font-size:14px;">你确定要删除吗？</strong></td>
                        </tr>
                        <tr>
                            <td width="20" height="25">&nbsp;</td>
                            <td>
                                <label>
                                    <input name="delete_company" type="checkbox" id="delete_company" value="yes" checked="checked" /> 删除企业资料
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td height="25">&nbsp;</td>
                            <td>
                                <input type="submit" id="del_sub" name="delete" value="确定" class="btn btn-w-m btn-primary" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="js/jquery.min.js?v=2.1.4 "></script>
<script src="js/bootstrap.min.js?v=3.3.6 "></script>
<script src="js/plugins/peity/jquery.peity.min.js "></script>
<script src="js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820 "></script>
<script src="js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820 "></script>
<script src="js/content.min.js?v=1.0.0 "></script>
<script src="js/vue.js"></script>
<script type="text/javascript ">
$.get("../data/data/admin_order_1.json", function(Data) {
    var app = new Vue({
        el: "#form1",
        data: Data
    });

    var btn = document.getElementById("chk");
    var test = document.getElementsByName("id[]");
    btn.onclick = function() {
        for (var i = 1; i <= test.length; i += 1) {
            if (test[i - 1].checked) {
                test[i - 1].checked = false;
            } else {
                test[i - 1].checked = true;
            }
        }
    };
    $("#del_sub").click(function() {
        $("#modal-del").removeClass('in').css("display", "none");
        $(".modal-backdrop").removeClass();
    });
});
</script>
<script type="text/javascript " src="http://tajs.qq.com/stats?sId=9051096 " charset="UTF-8 "></script>

</html>
