<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>后台管理中心</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link href="css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="css/plugins/iCheck/custom.css" rel="stylesheet">
		<link href="css/animate.min.css" rel="stylesheet">
		<link href="css/style.min862f.css?v=4.1.0" rel="stylesheet">
	</head>

	<body class="gray-bg sidebar-content">
		<div class="wrapper-content animated fadeInRight">
			<div class="ibox-title">
				<button class="btn btn-default btn-xs" type="button" onclick="window.location.reload()"><i class="glyphicon glyphicon-repeat"></i></button> &nbsp;&nbsp;
				<b>网站管理员</b> &nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<div class="ibox-content" id="table1">
				<h4>提示：</h4>
				<p>
					通过管理员设置，您可以进行编辑管理员资料、权限、密码以及删除管理员等操作；
				</p>
				<table class="table table-striped" style="border-bottom: 1px solid #eee;">
					<thead>
						<tr>
							<td v-for="i in name" v-html="i">
								{{i}}
							</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="key in message">
							<td v-for="i in key" v-html="i">
								{{i}}
							</td>
						</tr>
					</tbody>
				</table>
				<div v-if="message"></div>
				<div v-else="message">没有任何信息！</div>
			</div>
			<div class="ibox-content">
				<table style="border:1px solid #fff">
					<tr class="row">
						<td class="col-sm-12 m-b-xs">
							<button type="button" class="btn btn-outline btn-default" onclick="window.location.href='admin_system_19.html'" title="添加管理员">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                        </button>
						</td>
					</tr>
				</table>
				<br />
				<div class="dataTables_paginate paging_simple_numbers ibox-content">
					<ul class="pagination btn-sm ibox-tools">
						<li>
							<a class="">首页</a>
						</li>
						<li>
							<a class="">上一页</a>
						</li>
						<li>
							<a class="select">1</a>
						</li>
						<li>
							<a class="">下一页</a>
						</li>
						<li>
							<a class="">尾页</a>
						</li>
						<li class="page_all">
							<a>1/1页</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
	<script src="js/jquery.min.js?v=2.1.4"></script>
	<script src="js/bootstrap.min.js?v=3.3.6"></script>
	<script src="js/plugins/peity/jquery.peity.min.js"></script>
	<script src="js/plugins/jqgrid/i18n/grid.locale-cnffe4.js?0820"></script>
	<script src="js/plugins/jqgrid/jquery.jqGrid.minffe4.js?0820"></script>
	<script src="js/content.min.js?v=1.0.0"></script>
	<script src="js/vue.js"></script>
	<script>
$.get("../data/data/admin_system_8.json", function(Data) {
				var app = new Vue({
					el: "#table1",
					data: Data
				});
});
	</script>
	<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>

</html>